[Unit]
Description=Certifire Monitoring Worker Service
After=network.target

[Service]
User=certifire
WorkingDirectory=/home/certifire/monitoring_worker
ExecStart=python /home/certifire/monitoring_worker/worker.py

[Install]
WantedBy=multi-user.target